.news-slider {
    overflow: hidden;
    width: 100%;

    .slider__track {
        width: 5000px;
        background-color: blue;
        transform: translate3d(0px, 0px, 0px);
    }

    .slider__item {
        display: inline-block;
        width: 258px;
        margin: 0 10px;
    }
}