@import "./vars.scss";

.header {

    background-color: #f4f4f4;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: self-end;
        padding: 15px 0;
    }

    &__logo-img {
        height: 127px;
    }

    &__search {
        min-width: 400px;
        padding-left: 15px;
    }

    &__phones {
        min-width: 175.45px;
        padding-left: 15px;
    }

}

.search {

    position: relative;

    &__field {
        width: 100%;
        font-size: 16px;
        border-radius: 40px;
        box-shadow: 2px 2px 2px rgb(0 0 0 / 15%);
        height: 42px;
        padding: 16px 16px;
        color: $textColor;

        &::placeholder {
            color: $textColorLight;
        }
    }

    &__btn {
        position: absolute;
        width: 42px;
        height: 42px;
        cursor: pointer;
        right: 0;
        top: 0;
        border-radius: 50%;
        background-color: $secondaryColor;
        transition: background-color .2s ease;

        &:hover {
            background-color: $secondaryColorActive;
        }
    }

    &__img {
        width: 24px;
        height: 24px;
        fill: $backgroundColor;
    }
}

.phone-list {

    position: relative;
    display: flex;
    align-items: self-end;
    height: 24px;

    &__img-wrapper {
        height: 24px;
        padding-right: 8px;
    }

    &__img {
        width: 24px;
        fill: $secondaryColor;
    }

    &__current {
        color: $primaryColor;
        font-weight: 700;
    }

    &__arrow {
        margin-bottom: -2px;
        width: 24px;
        fill: $secondaryColor;
    }

    &__list {
        display: none;
    }

}





