@import "./reset.scss";
@import "./fonts.scss";
@import "./vars.scss";
@import "./util.scss";

body {
    background-color: $mainColor;
    color: $textColor;
    font-family: $fontFamily;
    font-weight: $fontWeight;
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.link {
    color: $linkColor;
    font-size: 24px;
    display: inline-block;
    &:hover {
        color: $linkColorHovered;
    }
}

.main {
    text-align: center;

    &__test-picture {
        display: block;
    }
}

