$maxWidth: 1200px;

$fontFamily: "Roboto";
$fontWeight: 400;
$backgroundColor: #fff;
$textColor: #757575;
$textColorLight: #bbb;
$primaryColor: #014455;
$primaryColorActive: #06aabb;
$secondaryColor: #ffcc02;
$secondaryColorActive: #eebb00;
$panelColor: #f4f4f4;
$shadowColor: rgb(0 0 0 / 15%);