@media (max-width: 1200px) {
    
	.phone-list {
		margin-bottom: 0;

		&__arrow {
        	display: none;
    	}

    	&__phone--current {
        	display: none;
    	}

    	&__img-wrapper {
    		height: 42px;
    	}

    	&__img {
    		width: 42px;
    	}

    	&__list {
    		min-width: 142px;
    		left: 0;
    	}

    	&__list-item:first-child {
        	display: block;
    	}
	}

	.header {
		&__phones {
			min-width: 0;
		}

		&__search {
        	width: 100%;
        	padding-left: 15px;
    	}
	}

}

@media (max-width: 1040px) {
	.tools {
	    display: flex;
	    flex-direction: column;
	}
}

@media (max-width: 960px) {
	.header {
		&__left-block {
			flex-direction: column;
			align-items: center;
		}

		&__left-block div:not(:last-child) {
			padding-bottom: 15px;
		}
	}
}

@media (max-width: 674px) {
	.tools {
		flex-direction: row;

		.icon-text__text {
			display: none;
		}
	}

	.header {
		&__content {
			flex-direction: column;
			align-items: center;
		}

		&__search {
			min-width: 300px;
			padding-left: 0;
		}

		&__left-block {
			padding-bottom: 15px;
		}

		&__right-block {
			align-items: flex-start;
		}

		&__phones {
			padding-left: 0;
		}
	}

	.phone-list {
		&__img-wrapper {
			padding-right: 0;
			height: 24px;
		}

		&__img {
			height: 24px;
		}
	}
}