.slider {
    overflow: hidden;
    width: 100%;

    &__track {
        width: 5000px;
        background-color: blue;
        transform: translate3d(0px, 0px, 0px);
    }

    &__item {
        display: inline-block;
        width: 260px;
        margin: 0 10px;
    }
}